.popup {
  display: none;
  background-color: $red;
  color: $white;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  max-height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px 52px 30px 40px;
  
    @media screen and (max-width: $widthMobile) {
      min-height: 198px;
      padding: 20px 20px 26px;
    }
    &_opened {
      display: flex;
    }
    &__links {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 40px;
        @media screen and (max-width: $widthMobile) {
          flex-direction: column;
          gap: 12px;
          align-self: end;
          align-items: center;
        }
    }
    &__link {
      @include link-menu;
    }
    &__link:hover {
      font-weight: bold;
    }
    &__close-button {
      width: 39px;
      height: 39px;
      background-color: transparent;
      background-image: url(../../images/Group10.svg);
      background-size: cover;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      align-self: center;
        @media screen and (max-width: $widthMobile) {
          align-self: baseline;
        }
    }
    &__logo {
      display: none;
      width: 30px;
      height: 30px;
        @media screen and (max-width: $widthMobile) {
          display: flex;
          align-self: baseline;
        }
    }
}