.link-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 49px;
  border: 2px solid $black;
  border-radius: 25px;
  padding: 10px auto;
  text-decoration: none;
  color: $black;
  font-size: 18px;
    &:hover {
      font-weight: bold;
    }
      @media screen and (max-width: $widthTablet) {
        font-size: 18px;
        margin-top: 60px;
      }
      @media screen and (max-width: $widthMobile) {
        width: 169px;
        height: 40px;
        font-size: 14px;
        margin-top: 30px;
      }
}